{% extends 'base.html' %}
    {% block title %}The Coolest Cards in Magic: The Gathering{% endblock %}
    {% block extra-scripts %}
        <script src="{{STATIC_URL}}coolcards/script/jquery-ui.scrollAppend.js"></script>    
        <script>
            $(window).scrollAppend({
            url: 'leaderboard',
            params: {  },
            appendTo: "#container",
            pixelBuffer: 500,
            loading:"{{STATIC_URL}}coolcards/images/loading.gif",
            });
        </script>
    {% endblock %}
    {% block body %}
        <div id = "container">
        {% include "leaderboard_table.html" %}
        </div>
    {% endblock %}
