<html>
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}coolcards/css/vote.css">    
    <title>Vote on the Coolest Magic: The Gathering Cards</title>
</head>
<body background='{{STATIC_URL}}coolcards/images/debut_light.png'>
    <div class = 'feedback_box'>
        <span>{{vote_feedback}}</span>
    </div>
        
    <p class="strapline">Which card is cooler?</p>

        <div class='wrapper'>
            <div class='card_holder'>
                <form method='post'>
                    {% csrf_token %}
                    <input type="hidden" name = "voted_for" value = "{{firstcard.name}}">
                    <input type="hidden" name = "voted_against" value = "{{secondcard.name}}">    
                    <input type='image' class='card_left' src='{{firstcard.pic_url}}'/>
                </form>
            </div><div class='card_holder'>
                <form method='post'>
                    {% csrf_token %}
                    <input type="hidden" name = "voted_for" value = "{{secondcard.name}}">
                    <input type="hidden" name = "voted_against" value = "{{firstcard.name}}">    
                    <input type='image' class='card_right' src='{{secondcard.pic_url}}'/>
                </form>
            </div>
        </div>
    </form>
</body>
</html>