{% extends "base.html" %}  
    {% block title %}Vote on the Coolest Magic: The Gathering Cards{% endblock %}
    {% block background %}'{{STATIC_URL}}coolcards/images/debut_light.png'{% endblock %}
    {% block body %}
    <div class = 'feedback_box'>
        <span>{{vote_feedback}}</span>
    </div>
        
    <p class="strapline">Which card is cooler?</p>

        <div class='wrapper'>
            <div class='card_holder'>
                <form method='post'>
                    {% csrf_token %}
                    <input type="hidden" name = "voted_for" value = "{{firstcard.name}}">
                    <input type="hidden" name = "voted_against" value = "{{secondcard.name}}">    
                    <input type='image' class='card_left' src='{{STATIC_URL}}coolcards/images/cards/{{firstcard.get_pic_name}}'/>
                </form>
            </div><div class='card_holder'>
                <form method='post'>
                    {% csrf_token %}
                    <input type="hidden" name = "voted_for" value = "{{secondcard.name}}">
                    <input type="hidden" name = "voted_against" value = "{{firstcard.name}}">    
                    <input type='image' class='card_right' src='{{STATIC_URL}}coolcards/images/cards/{{secondcard.get_pic_name}}'/>
                </form>
            </div>
        </div>
    </form>
    {% endblock %}